In [1]:
import pandas as pd

In [2]:
PATH = "Data/"
multiple_homicide = pd.read_csv(PATH + "multiple_homicide.csv", low_memory = False)

In [3]:
multiple_homicide

,CNTYFIPS,State,Source,Year,Month,Incident,VicAge,VicSex,VicRace,OffAge,OffSex,OffRace,Homicide,Weapon,Relationship,Circumstance,VicCount,OffCount,Solved
0,Etowah,AL,FBI,1984,August,1,51,Male,White,999,Unknown,Unknown,1,"Handgun - pistol, revolver, etc",Relationship not determined,Robbery,4,1,No
1,Etowah,AL,FBI,1984,August,1,43,Male,White,999,Unknown,Unknown,1,"Handgun - pistol, revolver, etc",Relationship not determined,Robbery,4,1,No
2,Etowah,AL,FBI,1984,August,1,29,Female,White,999,Unknown,Unknown,1,"Handgun - pistol, revolver, etc",Relationship not determined,Robbery,4,1,No
3,Etowah,AL,FBI,1984,August,1,21,Male,White,999,Unknown,Unknown,1,"Handgun - pistol, revolver, etc",Relationship not determined,Robbery,4,1,No
4,Etowah,AL,FBI,1986,August,1,31,Female,White,37,Male,White,1,"Handgun - pistol, revolver, etc",Acquaintance,Other arguments,3,1,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18568,Medina,OH,FBI,1981,May,1,33,Female,White,57,Male,White,1,Rifle,Acquaintance,Other arguments,3,1,Yes
18569,Mercer,OH,FBI,2008,March,1,19,Male,White,22,Male,White,1,Other or type unknown,Stranger,Other,4,3,Yes
18570,Mercer,OH,FBI,2008,March,1,19,Male,White,22,Male,White,1,Other or type unknown,Stranger,Other,4,3,Yes
18571,Mercer,OH,FBI,2008,March,1,19,Male,White,22,Male,White,1,Other or type unknown,Stranger,Other,4,3,Yes
18572,Mercer,OH,FBI,2008,March,1,18,Male,White,22,Male,White,1,Other or type unknown,Stranger,Other,4,3,Yes

In [4]:
multiple_homicide.columns

Index(['CNTYFIPS', 'State', 'Source', 'Year', 'Month', 'Incident', 'VicAge',
       'VicSex', 'VicRace', 'OffAge', 'OffSex', 'OffRace', 'Homicide',
       'Weapon', 'Relationship', 'Circumstance', 'VicCount', 'OffCount',
       'Solved'],
      dtype='object')

### Combining Categorical Variables

In [5]:
multiple_homicide["Weapon"].value_counts()

Weapon
Handgun - pistol, revolver, etc         7753
Fire                                    2336
Firearm, type not stated                1868
Rifle                                   1492
Knife or cutting instrument             1472
Shotgun                                 1079
Other or type unknown                    987
Blunt object - hammer, club, etc         405
Personal weapons, includes beating       241
Explosives                               238
Asphyxiation - includes death by gas     220
Strangulation - hanging                  179
Other gun                                156
Narcotics or drugs, sleeping pills        59
Drowning                                  48
Poison - does not include gas             40
Name: count, dtype: int64

In [6]:
def combine_categories(df, col, lst, new):
    df[col] = df[col].replace(lst, new)


combine_categories(multiple_homicide, "Weapon", ["Firearm, type not stated", "Other gun", 
                                                 "Rifle", "Shotgun"], "Firearm (Other)")

combine_categories(multiple_homicide, "Weapon", ["Narcotics or drugs, sleeping pills", 
                                                 "Poison - does not include gas"], "Drugs / Poison")

combine_categories(multiple_homicide, "Weapon", ["Asphyxiation - includes death by gas", 
                                                 "Blunt object - hammer, club, etc", 
                                                 "Knife or cutting instrument", 
                                                 "Personal weapons, includes beating", 
                                                 "Strangulation - hanging"], "Close Contact / Blunt Force")

combine_categories(multiple_homicide, "Weapon", ["Handgun - pistol, revolver, etc"], "Handgun")

combine_categories(multiple_homicide, "Weapon", ["Drowning", "Explosives", "Fire", "Other or type unknown", 
                                                 "Pushed or thrown out window"], "Other")

In [7]:
multiple_homicide["Circumstance"].value_counts()

Circumstance
Other                                   4325
Circumstances undetermined              4299
Other arguments                         2850
Arson                                   1653
Robbery                                 1211
Other - not specified                   1182
Narcotic drug laws                       944
All other manslaughter by negligence     316
All suspected felony type                292
Juvenile gang killings                   252
Argument over money or property          182
Brawl due to influence of alcohol        172
Burglary                                 170
Lovers triangle                          164
Gangland killings                        144
Brawl due to influence of narcotics      112
Sniper attack                             69
Felon killed by police                    52
Felon killed by private citizen           51
Motor vehicle theft                       29
Rape                                      28
Prostitution and commercialized vice      20
Other sex offense                         16
Gambling                                  14
Larceny                                    9
Institutional killings                     7
Other negligent handling of gun            4
Children playing with gun                  3
Child killed by babysitter                 3
Name: count, dtype: int64

In [8]:
#multiple_homicide.loc[homicide_reduced["Circumstance"] == "Child killed by babysitter"]["Homicide"].value_counts()

# all accounts of child killed by babysitter in data ruled homicide

In [9]:
# Combine circumstance categories by cause of murder

combine_categories(multiple_homicide, "Circumstance", ["Other arguments", 
                                                       "Argument over money or property", 
                                                       "Felon killed by private citizen",
                                                       "Lovers triangle"], "Disagreement")

combine_categories(multiple_homicide, "Circumstance", ["Brawl due to influence of narcotics", 
                                                       "Brawl due to influence of alcohol",
                                                       "Narcotic drug laws"], "Under Influence")

combine_categories(multiple_homicide, "Circumstance", ["Other sex offense", "Rape", "Burglary", "Larceny", 
                                                       "Prostitution and commercialized vice", "Robbery", 
                                                       "Child killed by babysitter", "Motor vehicle theft", 
                                                       "Gambling"], "Secondary Crime")

combine_categories(multiple_homicide, "Circumstance", ["Victim shot in hunting accident", 
                                                       "Other negligent handling of gun", 
                                                       "Gun-cleaning death - other than self", 
                                                       "All other manslaughter by negligence",
                                                       "Children playing with gun"], "Negligence / Accidental")

combine_categories(multiple_homicide, "Circumstance", ["Abortion", "All suspected felony type", 
                                                       "Circumstances undetermined", "Other", "Arson", 
                                                       "Other - not specified", "Sniper attack"], "Other")

combine_categories(multiple_homicide, "Circumstance", ["Gangland killings", 
                                                       "Juvenile gang killings"], "Gang")

combine_categories(multiple_homicide, "Circumstance", ["Institutional killings", 
                                                       "Felon killed by police"], "Institution")

In [10]:
multiple_homicide["Relationship"].value_counts()

Relationship
Relationship not determined    6083
Stranger                       2849
Acquaintance                   2758
Other - known to victim        1121
Son                            1047
Daughter                        920
Wife                            817
Other family                    567
Neighbor                        335
Friend                          320
Girlfriend                      305
Brother                         220
Sister                          218
In-law                          213
Mother                          181
Father                          130
Stepdaughter                     94
Ex-wife                          81
Stepson                          71
Husband                          67
Employee                         42
Employer                         40
Stepfather                       37
Common-law wife                  35
Boyfriend                         9
Homosexual relationship           7
Common-law husband                6
Name: count, dtype: int64

In [11]:
# Combine some relationships (mostly family)
# relationship between victim and offender

combine_categories(multiple_homicide, "Relationship", ["Wife", "Girlfriend", "Husband", "Boyfriend", 
                                                       "Common-law wife", "Common-law husband", 
                                                       "Homosexual relationship"], "Current Romantic")

combine_categories(multiple_homicide, "Relationship", ["Ex-wife", "Ex-husband"], "Past Romantic")

combine_categories(multiple_homicide, "Relationship", ["Other family", "In-law", "Stepson", "Stepmother",
                                                       "Stepdaughter", "Stepfather"], "Other Family")

combine_categories(multiple_homicide, "Relationship", ["Sister", "Brother", "Mother", "Father", "Son", 
                                                       "Daughter"], "Immediate Family")

combine_categories(multiple_homicide, "Relationship", ["Employee", "Employer"], "Work")

combine_categories(multiple_homicide, "Relationship", ["Relationship not determined"], "Unknown")

#combine_categories(multiple_homicide, "Relationship", ["Neighbor"], "Other - known to victim")

In [12]:
# Group states into regions
northeast = ["ME", "VT", "NY", "PA", "NJ", "NH", "CT", "RI", "MA"]

midwest = ["WI", "ND", "SD", "OH", "MI", "IA", "IL", "MN", "NE", "KS", "MO", "IN"]

west = ["WA", "CA", "OR", "AZ", "NV", "NM", "MT", "CO", "ID", "WY", "AK", "HI", "UT"]

south = ["TX", "LA", "OK", "TN", "AL", "KY", "MS", "GA", "FL", "VA", "WV", "AR", "MD", "DE", 
         "District of Columbia", "NC", "SC"]

# Function to create region columns
multiple_homicide["State"] = multiple_homicide["State"].apply(lambda x: x.strip())

#def set_region(statelist, colname):
    #multiple_homicide[colname] = 0
    #multiple_homicide.loc[multiple_homicide["State"].isin(statelist), colname] = 1

In [13]:
# Create and combine region columns
multiple_homicide["Region"] = "0"

def set_region(statelist, region):
    multiple_homicide.loc[multiple_homicide["State"].isin(statelist), "Region"] = region

set_region(northeast, "Northeast")
set_region(south, "South")
set_region(west, "West")
set_region(midwest, "Midwest")

In [14]:
multiple_homicide.Region.value_counts()

Region
South        7251
West         4214
Midwest      3949
Northeast    3159
Name: count, dtype: int64

In [15]:
multiple_homicide.loc[multiple_homicide["Region"] == "0"]

Empty DataFrame
Columns: [CNTYFIPS, State, Source, Year, Month, Incident, VicAge, VicSex, VicRace, OffAge, OffSex, OffRace, Homicide, Weapon, Relationship, Circumstance, VicCount, OffCount, Solved, Region]
Index: []

In [16]:
multiple_homicide_final = multiple_homicide.drop("CNTYFIPS", axis = 1)
multiple_homicide_final

,State,Source,Year,Month,Incident,VicAge,VicSex,VicRace,OffAge,OffSex,OffRace,Homicide,Weapon,Relationship,Circumstance,VicCount,OffCount,Solved,Region
0,AL,FBI,1984,August,1,51,Male,White,999,Unknown,Unknown,1,Handgun,Unknown,Secondary Crime,4,1,No,South
1,AL,FBI,1984,August,1,43,Male,White,999,Unknown,Unknown,1,Handgun,Unknown,Secondary Crime,4,1,No,South
2,AL,FBI,1984,August,1,29,Female,White,999,Unknown,Unknown,1,Handgun,Unknown,Secondary Crime,4,1,No,South
3,AL,FBI,1984,August,1,21,Male,White,999,Unknown,Unknown,1,Handgun,Unknown,Secondary Crime,4,1,No,South
4,AL,FBI,1986,August,1,31,Female,White,37,Male,White,1,Handgun,Acquaintance,Disagreement,3,1,Yes,South
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18568,OH,FBI,1981,May,1,33,Female,White,57,Male,White,1,Firearm (Other),Acquaintance,Disagreement,3,1,Yes,Midwest
18569,OH,FBI,2008,March,1,19,Male,White,22,Male,White,1,Other,Stranger,Other,4,3,Yes,Midwest
18570,OH,FBI,2008,March,1,19,Male,White,22,Male,White,1,Other,Stranger,Other,4,3,Yes,Midwest
18571,OH,FBI,2008,March,1,19,Male,White,22,Male,White,1,Other,Stranger,Other,4,3,Yes,Midwest
18572,OH,FBI,2008,March,1,18,Male,White,22,Male,White,1,Other,Stranger,Other,4,3,Yes,Midwest

In [17]:
#multiple_homicide_final.to_csv(PATH + "multiple_homicide_final.csv")

In [18]:
#unknown_age = multiple_homicide[multiple_homicide.OffAge == 999].index
#unknown_sex = multiple_homicide[multiple_homicide.OffSex == "Unknown"].index
#unknown_race = multiple_homicide[multiple_homicide.OffRace == "Unknown"].index